{% extends "base.html" %}

{% block title %}
Thermos -- Welcome
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>Welcome
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, delectus id illo itaque magnam maiores nihil nobis obcaecati optio, quia saepe sapiente sit soluta, vitae.</p>
            </h1>
        </header>
        <section>
            <h2>Recently Added</h2>
            {% if new_bookmarks %}
                <ul>
                {% for bm in new_bookmarks %}
                    <li>{{  bm.user }} added <a href="{{ bm.url }}">{{ bm.url }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                No bookmarks yet.
            {% endif %}
        </section>
        <section>
            <h2>article section h2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis doloribus, eaque esse, ex exercitationem, laboriosam laborum laudantium mollitia odit porro quos recusandae repudiandae sapiente sequi.</p>
        </section>
    </article>
{% endblock %}